/* --------------------------------

suku-icons

-------------------------------- */
.suku {
  display: inline-block;
  background-repeat: no-repeat;
  height: 33px;
  width: 33px;
}

.suku-plus-icon {
  background-image: url(./suku-icons/plus-icon.svg);
}