<form [formGroup]="form">
  <!-- <suku-homepage-button [buttonData]="buttonData" iconCustomClass=""></suku-homepage-button> -->
  <suku-default-button [size]="2">Test</suku-default-button>
  <!-- <suku-link>Test</suku-link> -->
  <!-- <suku-bid-tag>test</suku-bid-tag> -->
  <div class="col pt-4 p-0">
    <suku-info-button [size]="0.9" [disableValue]="false">Info</suku-info-button>
    <!-- <suku-secondary-button custom-class="test">test</suku-secondary-button> -->
    <suku-form-footer [btn-three-type]="'default'" [btn-four-label]="'complete onboarding'"
      [btn-three-disable-value]="true">
    </suku-form-footer>
    <suku-homepage></suku-homepage>
    <!-- <suku-primary-button>publish listing</suku-primary-button> -->

    <div class="col ml-5 pb-4">
      <suku-search-input [form]="form" control="search" (searchOnEnter)="search()">
      </suku-search-input>
    </div>
  </div>
</form>