<form [formGroup]="form">


  <div class="col-12 pb-4 pt-3 pl-3 bg-grey">
    <!-- icon library using svg-->
    <!-- <i class="suku-mail-icon"></i> -->

    <!-- icon library using webfont-->
    <!-- <i class="suku-map-pin"></i> -->
    <!-- <i class="suku-mail-light"></i> -->

    <div class="col">
      <suku-phone-widget>123564897</suku-phone-widget>
      <suku-mail-widget>John@gmail.com</suku-mail-widget>
      <suku-address-widget>John 9315 NW 112TH AVE</suku-address-widget>
      <suku-add-widget>Add Listing</suku-add-widget>
      <suku-add-icon>Add Listing</suku-add-icon>
      <suku-dropdown [form]="form" control="sample"></suku-dropdown>
      <suku-card-line-type-one msg-status="unRead" txt-col-size="col-sm-5"></suku-card-line-type-one>
      <suku-card-line-type-two msg-status="unRead" txt-col-size="col-sm-5"></suku-card-line-type-two>
      <suku-card-line-type-two msg-status="unRead" icon-one="suku-bid-confirmation-icon" icon-two="suku-shipped-icon"
        txt-col-size="col-sm-5">
      </suku-card-line-type-two>
      <suku-rating-card-line rating-value="4"></suku-rating-card-line>
      <suku-rating-star rating-value="4"></suku-rating-star>
      <suku-file-upload></suku-file-upload>
      <suku-icon-widget></suku-icon-widget>
      <suku-icon-widget icon="suku-chat-read-icon" position-tooltext="3"></suku-icon-widget>
      <suku-icon-widget icon="suku-chat-unread-icon"></suku-icon-widget>
      <suku-icon-widget icon="suku-payment-pending-icon"></suku-icon-widget>
      <suku-response></suku-response>
      <suku-dashboard-profile></suku-dashboard-profile>

      <suku-profile-header></suku-profile-header>
    </div>
    <div class="col-sm-3">
      <suku-select-input customclass="default"></suku-select-input>
    </div>

    <suku-filters filterHeading="TRANSACTIONS" filterSubHeading="Transaction Date"
      [statusTypesDynamic]="statusTypesDynamic" [form]="form">
    </suku-filters>
    <suku-dropdown-wfc (select)="action($event)" [disabled]="true" [data]="dropDownData" displayKey="templateName"
      keyValue="templateName" [value]="value">
    </suku-dropdown-wfc>

    <div class="col bg-white">
      <suku-dropdown [form]="form" control="productId"></suku-dropdown>
    </div>

    <div class="col-5">
      <suku-primary-button [disable-value]="true">Submit</suku-primary-button>
    </div>
    <br />

    <!-- <suku-checkbox [color]="'warn'" [disabled]="false" [checked]="false"></suku-checkbox> -->
    <!--  <suku-user-input [enable-required-validator]="true"  [enable-min-len-validator]="2"></suku-user-input> -->
    <!-- <suku-file-upload (action)="upload($event)"></suku-file-upload> -->
    <!-- <suku-info-button [disable-value]='true'>default</suku-infuttng on> -->
    <!-- <suku-search-input [form]="form" control="search" (searchOnEnter)="search()"></suku-search-input> -->
    <!-- <suku-mail-widget></suku-mail-widget> -->
    <!-- <suku-payment-portal-help></suku-payment-portal-help> -->
    <!-- <suku-track-progress-bar></suku-track-progress-bar> -->
    <!-- <suku-secondary-button>Test</suku-secondary-button> -->
    <!-- <suku-response></suku-response> -->
    <!-- <suku-profile-widget rating-value="5"></suku-profile-widget> -->
    <!-- <suku-gallery [gallery]="gallery" gallery-id="demo"></suku-gallery> -->
    <!-- <suku-gallery [gallery]="gallery" gallery-id="p"></suku-gallery> -->
    <!-- <suku-file-upload></suku-file-upload> -->
  </div>
  <div class="col">
    <suku-login enable-required-validator="true" [value]="formValue"></suku-login>
    <suku-homepage></suku-homepage>
  </div>

  <div class="col p-5">
    <suku-card-title enable-info-tooltip="true" tooltip-info="tooltip" [card-content-name]="dataCard"
      [content-type-array]="true" content-type="array" card-content-weight="500" card-content-size="14"
      card-title-name="SUPPLEMENTS" custom-content-class="primary">
    </suku-card-title>
  </div>

  <div class="col">
    <suku-nav-bar [hide-bell-icon]='false' [data]="navData" (action)='something($event)'></suku-nav-bar>
  </div>

  <div class="col">
    <suku-username-icon-widget image-title="Welcome Ricardo!">
    </suku-username-icon-widget>
  </div>



  <div class="col-12 pb-5">
    <suku-claims-widget></suku-claims-widget>
  </div>
  <br />
  <br />
  <br />
  <!-- <div class="col-12 pb-5">
    <suku-form-table [typeKey]="tableKeyA1" [items]="tabelDataA1" (submitData)="getAssetArray($event)">
    </suku-form-table>
  </div> -->
  <div class="col-12 pb-5">
    <suku-form-table [typeKey]="tableKey1" type="Producer" [tableDisabled]="false" (formStatus)="formStatusEv($event)"
      [items]="tabelDataTest1" [enableEditIndex]="0">
    </suku-form-table>
  </div>
  <div class="col-12 pb-5">
    <suku-form-table [typeKey]="tableKey2" type="Processor" [enableControls]="false" [items]="sampleData"
      [enableHighlighter]="true" [selectionKey]="'selection_TblColHdr'" [highlighterKey]="'# of Boxes'"
      [tableDisabled]="false" [keyData]="highlightnerArray"
      title-content="Please capture the required data for each selected product">
    </suku-form-table>

    <!-- <suku-form-table *ngIf="prviewFaciltyType == 'Processor'" type="Processor" [tableDisabled]="notEditable"
               [title-content]="'step2ProductInfo_TblHdr' | translate" title-one-size="14"
               [error-message-one]="'greaterThan0_ErrMsg' | translate" [typeKey]="tableKeyForProcessor"
               [controlsSize]="1.25" [items]="dataForProcessor" [enableHighlighter]="true"
               [selectionKey]="'selection_TblColHdr'" [highlighterKey]="'# of
                Boxes'" [enableControls]="false" [keyData]="highlightnerArray" (submitData)="getAssetArray($event)">
             </suku-form-table> -->

  </div>
  <div class="col-12 pb-5">
    <suku-form-table [typeKey]="tableKey3" [enableControls]="false" [enableSelectAll]="true"
      [items]="sampleDataForLogistics" [selectionKey]="'Received All Boxes'" [highlighterKey]="'# of Boxes'"
      [keyData]="highlightnerArray" [patchKey]="'# of Boxes Received'">
    </suku-form-table>
  </div>
  <div class="col-12 pb-5">
    <suku-form-table type="Distributor" title-content="Select the products that you have received" title-one-size="14"
      [enableControls]="false" [enableSelectAll]="true" [typeKey]="tableKeyForLogistics" [controlsSize]="1.25"
      [items]="dataForDistributor" [highlighterKey]="'# of Boxes'" [selectionKey]="'Received All Boxes'"
      [patchKey]="'# of Boxes Received'" [keyData]="highlightnerLogisticsArray" (submitData)="getAssetArray($event)">
    </suku-form-table>
  </div>
  <div class="col-12 pb-5">
    <suku-heading weight='400' size='14' [id]="'headingWidget'">Message (Optional) {{textcount}}/500
    </suku-heading>
    <suku-message-widget (textCount)="textCount($event)" [value]="sample"></suku-message-widget>
    <suku-default-button>back button</suku-default-button>
  </div>
  <br />
  <suku-user-input pattern="[a-zA-Z0-9$()+!*'._-]+" [readOnly]="true" [value]="sample" [enable-pattern-validator]="true"
    (action)="formStatusEv($event)">
  </suku-user-input>
  <br />
  <br />

</form>









<!-- <suku-card-line-type-one></suku-card-line-type-one> -->
<!-- <suku-info-button custom-class="w-100" type="default">login</suku-info-button> -->
<!-- <suku-terms-and-conditions></suku-terms-and-conditions> -->
<!-- <suku-homepage-button suku-button-custom-class="active" [button-data]="buttonData"></suku-homepage-button> -->
<!-- <suku-header></suku-header> -->
<!-- <suku-dropdown></suku-dropdown> -->
<!-- <suku-add-widget>Add new listing</suku-add-widget> -->
<!-- <suku-progress-bar-type-two></suku-progress-bar-type-two> -->
<!-- <suku-beneficial-owner [form]="form" arrayControlName="owner" control="beneficialCheckBox"></suku-beneficial-owner> -->
<!-- <suku-star-badge>3</suku-star-badge> -->
<!-- <suku-card-title></suku-card-title> -->
<!-- <suku-match-chip></suku-match-chip> -->
<!-- <suku-card-line-type-two></suku-card-line-type-two> -->
<!-- <suku-transaction-history></suku-transaction-history> -->
<!-- <suku-title-header>Listing Name</suku-title-header> -->
<!-- <suku-terms-and-conditions></suku-terms-and-conditions> -->
<!-- <suku-dropdown [data]="dropDownData" displayKey='templateName' [form]="form" control="search"></suku-dropdown> -->
<!-- <suku-header></suku-header> -->
<!-- <suku-dropdown></suku-dropdown> -->
<!-- <suku-add-widget>Add new listing</suku-add-widget> -->
<!-- <suku-progress-bar-type-two></suku-progress-bar-type-two> -->
<!-- <suku-beneficial-owner [form]="form" arrayControlName="owner" control="beneficialCheckBox"></suku-beneficial-owner> -->
<!-- <suku-star-badge>3</suku-star-badge> -->
<!-- <suku-card-title></suku-card-title> -->
<!-- <suku-match-chip></suku-match-chip> -->
<!-- <suku-card-line-type-two></suku-card-line-type-two> -->
<!-- <suku-transaction-history></suku-transaction-history> -->
<!-- <suku-title-header>Listing Name</suku-title-header> -->
<!-- <suku-terms-and-conditions></suku-terms-and-conditions> -->
<!-- <suku-dropdown [data]="dropDownData" displayKey='templateName' [form]="form" control="search"></suku-dropdown> -->

<!-- <suku-product-trace-widget head-name="TRACE METHOD #1" name="Product ID:" sub-Head-Name="Product Identification Number"
[form]="ProductSearchComponent" searchId="searchByproductId" productId="traceByproductId"
traceMethodRadio="radioByproductId" control="productId" (searchFun)="showResultsForID(search)"
productdetails="{{productJsonArrayForId}}" disableBtn="{{disableBtnForID}}" (searchByProduct)="searchByProductnameForID()"
(selectproducts)="selectproductsDataForID($event)" visible="{{searchTraceToggleForID}}" result="{{searchResultForID}}"
(traceproduct)="traceProductForID()">
</suku-product-trace-widget> -->