<form [formGroup]="test">
  <div class="col-lg-8 col-md-8 offset-md-2 offset-lg-2 col-sm-12 ">
    <suku-search-widget (getValue)="printValue($event);" value="new value" buttonFontSize="14" buttonFontWeight="bold">
    </suku-search-widget>
  </div>

  <div class="col p-4">
    <suku-create-customer [form]="test" formArrayNameValue="customer" (submitData)="CreateCustomerSubmit()"
      (onSubmit)="onSubmit()" accountTypeControl="accountType" CRDwollaTOSControl="CitizensReserveTOSCheck">
    </suku-create-customer>
  </div>
  <div class="col">
    <suku-progress-bar-type-three [data]="progressData">
    </suku-progress-bar-type-three>
  </div>

  <!-- <suku-create-customer [ssnLimit]="ssnPlaceHolder" [form]="createCustomer" formArrayNameValue="customer"
[countriesList]="countriesList" [statesList]="statesList" (countrySelect)="fetchAllStatesCreateCustomer($event)"
(submitData)="CreateCustomerSubmit()" (onSubmit)="onSubmit()" (industryTypeFun)="industryTypeFun($event)"
[businessTypeValue]="businessType" CRDwollaTOSControl="CitizensReserveTOSCheck"
*ngIf="customerCreationState?.creation" [industryTypeValue]="industryType"
[businessClassificationValue]="businessClassificationList"></suku-create-customer> -->
  <suku-auth-table></suku-auth-table>
  <!-- <suku-message-widget></suku-message-widget> -->
  <!-- <suku-form-table></suku-form-table> -->
  <!-- <p [innerHtml]="htmlContent"></p> -->
  <!-- <button (click)="open()">Open Dialog</button> -->
  <!-- <suku-user-input></suku-user-input> -->
  <!-- <suku-test-chooth></suku-test-chooth> -->
  <!-- <div class="col-sm-10 offset-sm-1"> -->
  <!-- <suku-dwolla-funding-agreement [form]="test" control="testControl"></suku-dwolla-funding-agreement>
    <suku-ach-setting [beneficialOwnerStatus]="beneficialOwnerStatus" subContent="{{status}}"
      [documentStatus]="documentStatus">
    </suku-ach-setting> -->
  <!-- <suku-default-button color="black">Default button for testing</suku-default-button>
    <suku-primary-button name="Test"></suku-primary-button> -->
  <!-- </div> -->
  <!-- <div class="col-lg-10 offset-lg-1 mb-4 pt-0">
    <div class="row">
      <div class="col">
        <suku-progress-bar-type-one progress-style-one="progressCompleted" progress-style-two="progressCompleted"
          progress-style-three="progressCompleted" progress-style-four="progressActive" [enable-pointer]='false'
          custom-heading-one-class="pl-0 pr-4 p-xs-0" custom-heading-two-class="pl-0 pr-2 p-xs-0"
          custom-heading-three-class="pl-3 p-xs-0" custom-heading-four-class="pr-0 pl-5 p-xs-0">
        </suku-progress-bar-type-one>
      </div>
    </div>
  </div> -->
  <!-- <div class="col-lg-10 offset-lg-1 mb-4 pt-0">
    <div class="row">
      <div class="col">
        <suku-progress-bar-type-two progress-style-one="progressCompleted" progress-style-two="progressCompleted"
          progress-style-three="progressCompleted" progress-style-four="progressActive" [enable-pointer]='false'>
        </suku-progress-bar-type-two>

      </div>
    </div>
  </div> -->
  <!-- <div class="col p-0"> -->
  <!-- <suku-chat-widget [messageData]="messageData"></suku-chat-widget> -->

  <!-- <button (click)="openSomething()">Click</button> -->
  <!-- <app-test-comp></app-test-comp> -->
  <!-- <button (click)="openSomething()">Click</button> -->
  <!-- <suku-date fontSize='40' dateString="2019-08-01 020:00:01" fontColor="#eb4034" fontFamily="secondary"
      fontWeight="800"></suku-date>
  </div> -->
  <!-- <div class="form-group col-12 col-sm-8 col-md-8 col-lg-8 offset-sm-2 pL0R0 Rectangle-2">
    <suku-user-input [enable-user-icon]="false" (onChangeAction)="getLotId($event)" placeholder="Enter Lot #">
    </suku-user-input>
    <suku-user-details widgetTitleSize="16" widgetTitleWeight="600" widgetTitle='User details'
      fullName='{{facilityAddress?.registeredName}}' email='{{facilityAddress?.email}}'
      phoneNumber='{{facilityAddress?.phone}}' fullAddress='{{facilityAddress?.address}}'></suku-user-details> -->
  <!-- <suku-user-input> </suku-user-input> -->
  <!--  </div>
  <div>
  </div>
  <app-test-comp></app-test-comp> -->
  <app-test-comp></app-test-comp>
</form>