<form [formGroup]="test">
  <!-- <suku-user-input></suku-user-input> -->
  <!-- <suku-test-chooth></suku-test-chooth> -->

  <div class="col-sm-10 offset-sm-1">
    <!-- <suku-dwolla-funding-agreement [form]="test" control="testControl"></suku-dwolla-funding-agreement>
    <suku-ach-setting [beneficialOwnerStatus]="beneficialOwnerStatus" subContent="{{status}}"
      [documentStatus]="documentStatus">
    </suku-ach-setting> -->
    <!-- <suku-default-button color="black">Default button for testing</suku-default-button>
    <suku-primary-button name="Test"></suku-primary-button> -->
  </div>
  <div class="col-lg-10 offset-lg-1 mb-4 pt-0">
    <div class="row">
      <div class="col">
        <suku-progress-bar-type-one progress-style-one="progressCompleted" progress-style-two="progressCompleted"
          progress-style-three="progressCompleted" progress-style-four="progressActive" [enable-pointer]='false'
          custom-heading-one-class="pl-0 pr-4 p-xs-0" custom-heading-two-class="pl-0 pr-2 p-xs-0"
          custom-heading-three-class="pl-3 p-xs-0" custom-heading-four-class="pr-0 pl-5 p-xs-0">
        </suku-progress-bar-type-one>
      </div>
    </div>
  </div>
  <div class="col-lg-10 offset-lg-1 mb-4 pt-0">
    <div class="row">
      <div class="col">
        <suku-progress-bar-type-two progress-style-one="progressCompleted" progress-style-two="progressCompleted"
          progress-style-three="progressCompleted" progress-style-four="progressActive" [enable-pointer]='false'>
        </suku-progress-bar-type-two>

      </div>
    </div>
  </div>
  <div class="col p-0">
    <!-- <suku-chat-widget [messageData]="messageData"></suku-chat-widget> -->

    <!-- <button (click)="openSomething()">Click</button> -->
    <!-- <app-test-comp></app-test-comp> -->
    <!-- <button (click)="openSomething()">Click</button> -->
    <suku-date fontSize='40' dateString="2019-08-01 020:00:01" fontColor="#eb4034" fontFamily="secondary"
      fontWeight="800"></suku-date>
  </div>
  <!--   <div class="form-group col-12 col-sm-8 col-md-8 col-lg-8 offset-sm-2 pL0R0 Rectangle-2">
    <div class="col-sm-10 col-12 offset-sm-1 noPadding ">
      <div class="col-sm-12 noPadding">
          <div class="col-sm-6">
              <suku-date-time-picker (dateSelect)="sendPublishDate()" [max-date]='expMaxDate' [min-date]='mindate' [form]='test' control='publishDate' id='publishDate' place-holder='publish date'>
              </suku-date-time-picker>
            </div>
        <div class="col-sm-6">
          <suku-date-time-picker  (dateSelect)="sendMaxdate($event)" [min-date]='expMinDate || mindate' [form]='test' control='expiryDate' id='expiryDate' place-holder='expiry Date'>
          </suku-date-time-picker>
        </div>
      </div>
    </div>
  </div> -->
  <app-test-comp></app-test-comp>
</form>